{% extends 'base.html.twig' %}

{% block title %}Where to eat?{% endblock %}

{% block body %}

<div class=container>
    <div class=row>
        <div class=col-md-12>
            Et ole viel채 valinnut ryhm채채. <br>
            Valitse ryhm채 oman tilin tiedoista.
        </div>
    </div>
</div>


{% endblock %}
