{% extends 'base.html.twig' %}

{% block title %}WTE - Restaurants{% endblock %}

{% block body %}


<div class=container>
<div class=row>
    <div class="col-md-12">
    {{ form(form) }}
    </div>
</div>
<div class=row>
<div class="col-md-12">
<table>
    <th>
        <td>Restaurant</td>
        <td>Opens</td>
        <td>url</td>
    </th>
    {% for rr in restaurants %}
        <tr>
            <td>{{ rr.name }}
            <td>{{ rr.opens|format_time('short', locale='fi') }}
            <td>{{ rr.url }}
        </tr>
    {% endfor %}
</table>
</div>
</div>
</div>

{% endblock %}
