<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WhereToEat{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/css/style.css"/>
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-default navbar-expand-lg navbar-light">
	                <div class="navbar-header d-flex col">
		                <a class="navbar-brand" href="/">Missä<b>Syödään</b></a>
                
		                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			            <span class="navbar-toggler-icon"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		                </button>
	                </div>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
	            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		        <ul class="nav navbar-nav">
            
            {% if is_granted ('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
				        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Admin <b class="caret"></b></a>
				        <ul class="dropdown-menu">
                            <li><a href="/admin/restaurant/">Ravintolat</a></li>
					        <li><a href="/admin/group/">Ryhmät</a></li>
                            <li><a href="/admin/user/">Käyttäjät</a></li>
				        </ul>
			        </li>
            {% endif %} 
                    <li class="nav-item"><a href="/restaurants/" class="nav-link">Ravintolat</a></li>
		        </ul>

        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item">
                        
            </li>
            <li  class="nav-item dropdown">
			    <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#"><i class="fa fa-user-o"></i> {{ app.user.getName() }}</a>
                <ul class="dropdown-menu">					
				    <li><a href="/logout" class="dropdown-item">Kirjaudu ulos</a></li>
				    <li><a href="/account" class="dropdown-item">Oma tili</a></li>
                     
                </ul>
            </li>
		</ul>
{% else %}
            
            <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="/register/" class="nav-link">Register</a></li>
		        </ul>    
                <ul class="nav navbar-nav navbar-right ml-auto">
			        <li class="nav-item dropdown">
				        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#"><i class="fa fa-user-o"></i> Kirjaudu</a>
				<ul class="dropdown-menu">
                    <li>
                        <form class="form-inline login-form" action="/login" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="username" name="_username" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" id="password" name="_password" class="form-control" placeholder="Salasana" required>
                        </div>
                        <button type="submit" class="btn btn-primary">OK</button>
                        </form>                        
                    </li>
				</ul>
                </li>
            </ul>    
{% endif %}    
                </div>   
                </nav>      
            </div>
      </div>    
</div>
        {% block body %}{% endblock %}
    </body>
</html>